body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(196, 226, 245);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: rgb(21, 145, 220);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed;
  top: 0; */
}

.nav-links {
  width: max-content;
  height: 19px;
  padding: 7px 12px 7px 12px;
  /* border-radius: 5px; */
  /* background-color: rgb(75, 184, 250); */
  color: #1a312c;
  text-decoration: none;
  transition-duration: 0.3s;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.nav-links:hover {
  background-color: rgb(75, 184, 250);
  box-shadow: 0 2px #fff4e1;
  /* outline: 2px black solid; */
  /* border-bottom: 2px solid #fff4e1; */
}

.home {
  text-align: center;
}

.search-bar {
  margin: 20px;
}

/* #search-label {
  display: block;
} */

#search-input {
  border: solid 1px;

  border-radius: 5px;
  height: 25px;
  width: 200px;
}

table {
  margin: auto;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
  background-color: rgb(135, 204, 247);
}

.btn {
  margin: 0 6px 0 6px;
  padding: 5px 9px 5px 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: rgb(75, 127, 250);
}

.delete {
  background-color: rgb(250, 75, 75);
}

.search {
  background-color: rgb(75, 184, 250);
}
