body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(
    130deg,
    hsl(217deg 59% 43%) 0%,
    hsl(214deg 63% 44%) 8%,
    hsl(211deg 67% 45%) 17%,
    hsl(209deg 71% 45%) 25%,
    hsl(206deg 75% 46%) 33%,
    hsl(204deg 79% 47%) 42%,
    hsl(203deg 83% 47%) 50%,
    hsl(205deg 72% 57%) 58%,
    hsl(206deg 71% 64%) 67%,
    hsl(205deg 71% 70%) 75%,
    hsl(205deg 70% 75%) 83%,
    hsl(204deg 70% 81%) 92%,
    hsl(203deg 71% 86%) 100%
  );
  background-attachment: fixed; /* from freeCodeCamp, to prevent the linear gradient from repeating */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 16vh;
}

nav {
  background-color: hsl(203 98 16%);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-links {
  width: max-content;
  height: 19px;
  padding: 7px 12px 7px 12px;
  background-color: hsl(203 98 16%);
  color: #c3ecf6;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.nav-links:hover {
  background-color: hsl(203 98 23%);
  box-shadow: 0 2px #fff4e1;
}

.home {
  text-align: center;
  user-select: none;
}

.search-bar {
  margin: 20px;
}

#search-input {
  border: solid 1px;

  border-radius: 5px;
  height: 25px;
  width: 200px;
}

table {
  margin: auto;
}

table,
tr,
th,
td {
  border: 4px solid hsl(203 98 23%);
  border-collapse: collapse;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.12);
}

.btn {
  margin: 0 6px 0 6px;
  padding: 5px 9px 5px 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  border: 0;
}

.edit {
  background-color: hsl(222 95 63%);
  transition: 0.3s;
  height: 40px;
}

.edit:hover {
  background-color: hsl(222 95 68%);
}

.delete {
  background-color: hsl(0 95 64%);
  transition: 0.3s;
  height: 40px;
}

.delete > small {
  font-size: 11px;
  display: block;
}

.delete:hover {
  background-color: hsl(0 95 68%);
}

.search {
  background-color: hsl(203 95 64%);
  transition: 0.3s;
}

.search:hover {
  background-color: hsl(203 95 68%);
}

.form-container {
  display: flex;
  justify-content: center;
  text-align: center;
  user-select: none;
}

.form-container > form {
  margin-top: -2%;
  padding: 10px 20px;
  background-color: rgba(1, 1, 1, 0.25);
  border-radius: 20px;
}

.sign-up-and-in > form {
  background-color: rgba(255, 255, 255, 0.2);
}

.error {
  background-color: rgba(174, 39, 39, 0.4);
  margin: 4% auto;
  padding: 8px;
  max-width: 200px;
  border-radius: 5px;
  font-size: 14px;
  user-select: none;
}

.success {
  background-color: rgba(42, 192, 114, 0.6);
  margin: 4% auto;
  padding: 8px;
  max-width: 200px;
  border-radius: 5px;
  font-size: 14px;
  user-select: none;
}

#sign-up-btn {
  margin: 0 auto;
}

.form-title {
  margin-bottom: 20%;
}

.form-label {
  display: block;
}

.form-input {
  border: solid 1px;
  border-radius: 5px;
  height: 25px;
  width: 200px;
  margin: 2% 0 8% 0;
}

.form-btn {
  display: block;
  margin: 15% auto;
  background-color: hsl(203 95 64%);
  transition: 0.3s;
}

.form-btn:hover {
  background-color: hsl(203 95 68%);
}

.requirements {
  background-color: rgba(1, 1, 1, 0.25);
  width: 300px;
  text-align: center;
  padding: 10px 20px 20px;

  border-radius: 10px;
  margin: 20px 0;
  user-select: none;
  color: #ade4f2;
}

.requirements > p {
  margin: 5px 0 5px 0;
  font-size: 12px;
}

.requirements > h3 {
  margin-bottom: 2px;
}

.two-sides-page {
  background-color: rgba(1, 1, 1, 0.25);
  padding: 48px 20px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.correct {
  background-color: green;
  border-radius: 3px;
}

.not-required {
  color: black;
}
